body{
    margin: auto;
    max-width: 1400px;
    padding: 16px;
}


/* Partie header */
h1{
    font-family: 'inherit','Roboto', sans-serif;
    text-align: center;
}

/* --Bare de navigation--  */

#SectionNav{
    border: 1px solid #000;
    padding: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/Images/stock-photo-computer-blue-binary-code-background.jpg);
    background-position:center ;
    border-radius: 5px;
 }

#SectionNav nav h2{
    justify-content: center;
}

nav h2{
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
nav h2{
    display: flex;
    text-align: center;
}

#SectionNav nav button{
    padding: 10px;
    border-radius: 5px;
    border: 1px #bababa solid;
    cursor: pointer;
}
button:hover{
    background-color: #888888;
}


head p, h2{
    font-family: 'inherit','Roboto', sans-serif;
    text-align: justify; 
}

/* Contenue  */
#sectionContenuePrincipal{
    display: flex;
}
#sectionContenue{
    width: 70%;
    padding-right: 50px;
    margin-top: 15px;
    border: 1px #c8c8c8 solid;
}

#titrePrincipal{
    text-align: center;
}
ul li,p{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: justify;
    margin-bottom: 10px;
}

h3{
    font-family: 'inherit','Roboto', sans-serif;
}

#information {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Ajustez cette valeur en fonction de la taille de votre paragraphe */
    text-align: center;
    font-style: italic;
  }
  
/*-------------------Section information complémentaire----------------------- */
#SectionContenueComplementaire{
    width: 30%;
    border: 1px solid #000;
    padding: 5px;
    margin-top: 30px;
    border-radius: 10px;
}

#Test{
    text-align: center;
    margin-top: 40px;
}